<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".M416 p").click(function () {
                $(".M416 img").slideToggle();
            });

            $(".AKM p").click(function () {
                $(".AKM img").slideToggle();
            });

            $(".Scar-l p").click(function () {
                $(".Scar-l img").slideToggle();
            });

            $(".M164A p").click(function () {
                $(".M164A img").slideToggle();
            });
            
            $(".AUG p").click(function () {
                $(".AUG img").slideToggle();
            });

            $(".Groza p").click(function () {
                $(".Groza img").slideToggle();
            });

            $(".M249 p").click(function () {
                $(".M249 img").slideToggle();
            });

            $(".QBZ p").click(function () {
                $(".QBZ img").slideToggle();
            });

            $(".UMP45 p").click(function () {
                $(".UMP45 img").slideToggle();
            });

            $(".UZI p").click(function () {
                $(".UZI img").slideToggle();
            });

            $(".Vector p").click(function () {
                $(".Vector img").slideToggle();
            });

            $(".S12K p").click(function () {
                $(".S12K img").slideToggle();
            });

            $(".M24 p").click(function () {
                $(".M24 img").slideToggle();
            });

            $(".Mini14 p").click(function () {
                $(".Mini14 img").slideToggle();
            });

            $(".VSS p").click(function () {
                $(".VSS img").slideToggle();
            });

            $(".P92 p").click(function () {
                $(".P92 img").slideToggle();
            });

            $(".P1911 p").click(function () {
                $(".P1911 img").slideToggle();
            });

            $(".Pan p").click(function () {
                $(".Pan img").slideToggle();
            });
        });
    </script>

    <title>Guns</title>
</head>

<body>
    <div id="topnav">
		<ul>
			<li><img id="logo" src="../images/logo.png" /></li>
			<li><a href="../index.html">Home</a></li>
			<li>
				<a href="#">Inventory</a>
				<ul class="sub inventory">
					<li><a href="./outfits.html">Outfits</a></li>
					<li><a href="./helmets.html">Helmets</a></li>
					<li><a href="./glasses.html">Glasses</a></li>
					<li><a href="./masks.html">Masks</a></li>
				</ul>
			</li>
			<li><a href="./guns.html">Weapons</a></li>
			<li><a href="./vehicles.html">Vehicles</a></li>
			<li>
				<a href="#">Achievements</a>
				<ul class="sub inventory ach">
					<li><a href="./avatar_frame.html">Avatar Frames</a></li>
					<li><a href="./name_tag.html">Name Tags</a></li>
				</ul>
			</li>
			<li><a href="./aboutme.html">About me</a></li>
		</ul>
	</div>

    <div class="gun_skins">
        <div class="M416">
            <p>M416</p>
            <img src="../Screen/guns/M416 1.jpg" alt="" />
            <img src="../Screen/guns/M416 2.jpg" alt="" />
        </div>

        <!-- <hr> -->
        <div class="AKM">
            <p>AKM</p>
            <img src="../Screen/guns/AKM 1.jpg" alt="" />
            <img src="../Screen/guns/AKM 2.jpg" alt="" />
        </div>

        <!-- <hr> -->
        <div class="Scar-l">
            <p>Scar-l</p>
            <img src="../Screen/guns/Scar-l 1.jpg" alt="" />
            <img src="../Screen/guns/Scar-l 2.jpg" alt="" />
            <img src="../Screen/guns/Scar-l 3.jpg" alt="" />
            <img src="../Screen/guns/Scar-l 4.jpg" alt="" />
        </div>

        <!-- <hr> -->

        <div class="M164A">

            <p>M164 A</p>
            <img src="../Screen/guns/M164A 1.jpg" alt="" />
            <img src="../Screen/guns/M164A 2.jpg" alt="" />
        </div>

        <!-- <hr> -->
        <div class="AUG">
            <p>AUG</p>
            <img src="../Screen/guns/AUG 1.jpg" alt="" />
            <img src="../Screen/guns/AUG 2.jpg" alt="" />
            <img src="../Screen/guns/AUG 3.jpg" alt="" />
        </div>

        <!-- <hr> -->
        <div class="Groza">
            <p>Groza</p>
            <img src="../Screen/guns/Groza.jpg" alt="" />
        </div>

        <!-- <hr> -->
        <div class="M249">
            <p>M249</p>
            <img src="../Screen/guns/M249 1.jpg" alt="" />
            <img src="../Screen/guns/M249 2.jpg" alt="" />
        </div>

        <div class="QBZ">
            <p>QBZ</p>
            <img src="../Screen/guns/QBZ 1.jpg" alt="" />
            <img src="../Screen/guns/QBZ 2.jpg" alt="" />
        </div>

        <div class="UMP45">
            <p>UMP45</p>
            <img src="../Screen/guns/UMP45 1.jpg" alt="" />
            <img src="../Screen/guns/UMP45 2.jpg" alt="" />
            <img src="../Screen/guns/UMP45 3.jpg" alt="" />
        </div>

        <div class="UZI">
            <p>UZI</p>
            <img src="../Screen/guns/UZI 1.jpg" alt="" />
            <img src="../Screen/guns/UZI 2.jpg" alt="" />
        </div>

        <div class="Vector">
            <p>Vector</p>
            <img src="../Screen/guns/Vector.jpg" alt="" />
        </div>

        <!-- Shotgun -->

        <div class="S12K">
            <p>S12K</p>
            <img src="../Screen/guns/S12K.jpg" alt="" />
        </div>

        <!-- Sniper -->

        <div class="M24">
            <p>M24</p>
            <img src="../Screen/guns/M24 1.jpg" alt="" />
            <img src="../Screen/guns/M24 2.jpg" alt="" />
            <img src="../Screen/guns/M24 3.jpg" alt="" />
        </div>

        <div class="Mini14">
            <p>Mini 14</p>
            <img src="../Screen/guns/Mini14 1.jpg" alt="" />
            <img src="../Screen/guns/Mini14 2.jpg" alt="" />
            <img src="../Screen/guns/Mini14 3.jpg" alt="" />
        </div>

        <div class="VSS">
            <p>VSS</p>
            <img src="../Screen/guns/VSS.jpg" alt="" />
        </div>

        <!-- Pistol -->

        <div class="P92">
            <p>P92</p>
            <img src="../Screen/guns/P92 1.jpg" alt="" />
            <img src="../Screen/guns/P92 2.jpg" alt="" />
        </div>

        <div class="P1911">
            <p>P1911</p>
            <img src="../Screen/guns/P1911.jpg" alt="" />
        </div>

        <!-- Pan -->

        <div class="Pan">
            <p>Pan</p>
            <img src="../Screen/guns/Pan 1.jpg" alt="" />
            <img src="../Screen/guns/Pan 2.jpg" alt="" />
            <img src="../Screen/guns/Pan 3.jpg" alt="" />
            <img src="../Screen/guns/Pan 4.jpg" alt="" />
            <img src="../Screen/guns/Pan 5.jpg" alt="" />
        </div>
    </div>
</body>

</html>