<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
	<title>Masks</title>

</head>
<body>
	<div id="topnav">
		<ul>
			<li><img id="logo" src="../images/logo.png" /></li>
			<li><a href="../index.html">Home</a></li>
			<li>
				<a href="#">Inventory</a>
				<ul class="sub inventory">
					<li><a href="./outfits.html">Outfits</a></li>
					<li><a href="./helmets.html">Helmets</a></li>
					<li><a href="./glasses.html">Glasses</a></li>
					<li><a href="./masks.html">Masks</a></li>
				</ul>
			</li>
			<li><a href="./guns.html">Weapons</a></li>
			<li><a href="./vehicles.html">Vehicles</a></li>
			<li>
				<a href="#">Achievements</a>
				<ul class="sub inventory ach">
					<li><a href="./avatar_frame.html">Avatar Frames</a></li>
					<li><a href="./name_tag.html">Name Tags</a></li>
				</ul>
			</li>
			<li><a href="./aboutme.html">About me</a></li>
		</ul>
	</div>

    <div class="masks">
        <div class="mask">
            <img src="../Screen/masks/1.jpg" alt="">
            <p>Avian Tyrant</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/2 2.jpg" alt="">
            <p>The Fangs Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/2 3.jpg" alt="">
            <p>Puppet Agent </p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/2 4.jpg" alt="">
            <p>Fire Ranger Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/3.jpg" alt="">
            <p>Tidal Wargod Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/4.jpg" alt="">
            <p>mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/5.jpg" alt="">
            <p>mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/6.jpg" alt="">
            <p>Evil Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/6 1.jpg" alt="">
            <p>Polar Dancer Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/7.jpg" alt="">
            <p>Season 15 Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/8.jpg" alt="">
            <p>The Recon Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/9.jpg" alt="">
            <p>Season 19 Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/10.jpg" alt="">
            <p>C1S1 Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/11.jpg" alt="">
            <p>Gas Mask (Half)</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/12.jpg" alt="">
            <p>Gold Dragon(Black)</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/13.jpg" alt="">
            <p>Bronze Masquerade</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/14.jpg" alt="">
            <p>Silver Masquerade</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/15.jpg" alt="">
            <p>Scarf (Tactical)</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/16.jpg" alt="">
            <p>mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/17.jpg" alt="">
            <p>mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/18.jpg" alt="">
            <p>Gas Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/19.jpg" alt="">
            <p>Ballistic Mask</p>
        </div>
        <div class="mask">
            <img src="../Screen/masks/20.jpg" alt="">
            <p>Mummy Nurse</p>
        </div>
        
        </div>
    </div>

</body>
</html>